<ion-view view-title="Home">
  <ion-content>
	<div class="bar bar-header" style="background:#444;">
	  <h1 class="title" style="color:#fff;">Employee App</h1>
	</div>
	<ul class="list list-inset" style="top:60px;">
		<li>
			<a class="button button-full button-dark" href="#/playlist/Sign In">
			  Sign In
			</a>
		</li>
		
		<li>
			<a class="button button-full button-dark" href="#/playlist/Lunch In">
			  Lunch In
			</a>
		</li>
		
		<li>
			<a class="button button-full button-dark" href="#/playlist/Lunch Out">
			  Lunch Out
			</a>
		</li>
		
		<li>
			<a class="button button-full button-dark" href="#/playlist/Travel In">
			  Travel In
			</a>
		</li>
		
		<li>
			<a class="button button-full button-dark" href="#/playlist/Travel Out">
			  Travel Out
			</a>
		</li>
		
		<li>
			<a class="button button-full button-dark" href="#/playlist/Sign Out">
			  Sign Out
			</a>
		</li>
	</ul>
  </ion-content>
</ion-view>
